{{ define "view" }}

{{ template "header" . }}


<div id="middle-section">


    <table border=0 width="100%">
        <tr>
            <td class="left-col">
                <!-- Left side -->
                <h3>{{.name}}</h3>
                <div class="pic">
                    <img src="{{.pic}}" />
                </div>

                <div class="email">
                    {{.email}}
                </div>
                <div class="logout">
                    <a href="/auth/logout" id="logout-button">Sign Out</a>
                </div>

            </td>
            <td class="right-col">

                <form id="logo-form">

                    <input type="text" id="logo-url" value="enter logo url here">

                    <a href="#" id="logo-button">Identify</a>

                </form>

                <div id="logo-result">
                    <div id="logo-result-text"></div>
                </div>

                <div id="logos">

                    <h5>Samples</h5>

                    <div class="logos">

                        <div class="logo">
                            <img src="https://storage.googleapis.com/kdemo-logos/google.png">
                        </div>

                        <div class="logo">
                            <img src="https://storage.googleapis.com/kdemo-logos/youtube.jpg">
                        </div>

                        <div class="logo">
                            <img src="https://storage.googleapis.com/kdemo-logos/k8s.png">
                        </div>

                        <div class="logo">
                            <img src="https://storage.googleapis.com/kdemo-logos/gmail.png">
                        </div>

                        <div class="logo">
                            <img src="https://storage.googleapis.com/kdemo-logos/droid.png">
                        </div>

                    </div>

                    <a id="more-logo-link" target="_new"
                        href="https://www.google.com/search?newwindow=1&safe=active&tbm=isch&q=corporate+logo+images&chips=q:corporate+logo+images,g_1:modern">
                        Search for more logos...
                    </a>



                </div>

            </td>
        </tr>
    </table>

</div>

{{ template "footer" . }}

{{ end }}