/*
	Knative colors
	Dark Blue: #0865ad
	Light Blue: #6695ca

*/


html,
body {
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

h3 {
	color: #fff;
	margin: 0;
	font-size: 1.1em;
	margin: 10px 0 0 0;
}

h5 {
	color: #fff;
	margin: 0;
	font-size: 0.9em;
	margin: 10px 0 0 0;
	font-weight: normal;
}

#wrapper {
	padding: 0;
	margin: 0;
	height: 100%;
	text-align: center;
	widows: 100%;
}

#page-header {
	padding: 0;
	margin: 10px 0 0 0;
}

#page-header-image {
	border: 0;
}

#page-header-title {
	color: #999;
	font-size: 3em;
}

#middle-section {
	margin: 30px 0 0 0;
	padding: 10px;
	background-color: #0865ad;
	overflow: auto;
}

#middle-section .email {
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

#middle-section .logout {
	margin: 20px 0 20px 0;
}

#middle-section .login {
	margin: 100px 0 100px 0;
}

#middle-section div {
	margin: 10px;
}

#middle-section img {
	border: 2px solid #fff;
	margin: 0;
	padding: 0;
}

#logout-button {
	text-decoration: none;
	background-color: #0865ad;
  	color: #fff;
  	padding: 4px 6px 4px 6px;
	border: 2px solid #fff;
	font-size: 1em;
}

#page-footer {
	widows: 80%;
	margin: 50px 0 0 0;
	color: #666;
	font-size: 1em;
}



#middle-section table {
	width: 100%;
	margin: 5px;
	text-align: center;
}

.left-col {
	width: 40%;
	text-align: center;
}

.right-col {
	width: 60%;
	text-align: center;
}

#logos {
	margin-top: 20px;
}

#logos img {
	width: 50px;
	height: 50px;
	border: 1px;
}

#logos h5 {
  clear: both;
  float: left;
}

.logos {
  clear: both;
}

.logo {
  float: left;
  width: 50px;
  padding: 5px;
}

#logo-form {
  clear: both;
  float: left;
}

#logo-result {
  clear: both;
  float: left;
}

#logo-button {
	float: left;
	text-decoration: none;
	background-color: #0865ad;
  	color: #fff;
  	padding: 4px 6px 4px 6px;
	border: 2px solid #fff;
	font-size: 1em;
	margin: 5px;
}

#logo-url {
	float: left;
	background-color: #ffffff;
  	color: #0865ad;
  	padding: 4px 6px 4px 6px;
	border: 2px solid #fff;
	font-size: 1em;
	width: 500px;
	margin: 5px;
}

#logo-result-text {
	font-size: 1em;
	color: #fff;
}